<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daveboy.frame">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:name="com.daveboy.frame.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.daveboy.frame.activity.App_activity_mainActivity">
            <intent-filter >
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activity.UserActivity"/>

        <meta-data
            android:name="com.daveboy.frame.config.GlobalConfiguration"
            android:value="ConfigModule"/>
    </application>
</manifest>
